@mixin btn {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	text-align: center;
	img {
		width: 16px;
	}
}
.diagnal-movies-header {
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: #000;
	height: 50px;
	padding: 0 5px;
	box-shadow: 0 10px 10px #000;
	&.searching {
		.btn-back,
		.page-title {
			display: none;
		}
		.search-wrap {
			flex: 1;
		}
	}
	.btn-back {
		@include btn;
	}
	.page-title {
		padding: 0 15px;
		flex: 1;
		font-size: 16px;
	}
	.search-wrap {
		.btn-search {
			@include btn;
		}
	}
}
.diagnal-movies-body {
	padding: 5px;
	.moview-listing-wrap {
		display: flex;
		flex-wrap: wrap;
		.movie-list-item {
			padding: 10px;
			width: 33.33%;
			img {
				width: 100%;
			}
		}
		.list-loading,
		.no-items-found {
			text-align: center;
			padding: 15px;
			flex: 1;
		}
	}
}
