.search-wrap {
	.search-container {
		display: flex;
		padding: 5px 5px 5px 10px;
		align-items: center;
		input[type="text"] {
			width: 100%;
			border: 1px solid rgba(255, 255, 255, 0.1);
			background-color: rgba(255, 255, 255, 0.1);
			height: 34px;
			color: #fff;
			padding: 0 5px;
			&:focus {
				outline: none;
			}
		}
		.button-close {
			width: 34px;
			height: 34px;
			margin-left: 5px;
			.icon-close {
				display: block;
				transform: rotate(45deg);
				font-size: 26px;
				line-height: 28px;
				text-align: center;
				height: 34px;
				width: 34px;
			}
		}
	}
}
